<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SpiceBaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spice_sl_mobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ncd.landing.ui.UserTermsConditionsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.phuwalkins.activity.PhuWalkInsActivity"
            android:exported="false" />
        <activity
            android:name=".ncd.medicalreview.NCDMedicalReviewCMRActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.patientEdit.NCDPatientEditActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ncd.dashboard.DashboardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.medicalreview.labTechnician.NCDLabTestListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ncd.assessment.ui.AssessmentReadingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.dashboard.ncd.NCDDashboardViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.common.PatientSearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.medicalreview.investigation.InvestigationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.peersupervisor.PerformanceMonitoringActivity"
            android:exported="false"
            android:screenOrientation="landscape" /> <!-- Common Activities -->
        <activity
            android:name=".ui.boarding.ForgetPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />

                <!--
                <data android:host="spice-dev.sl.labsplatform.com"/>
                <data android:pathPrefix="/reset-password"/>

                <data android:host="spice-training.sl.labsplatform.com"/>
                <data android:pathPrefix="/reset-password"/>
                -->

                <data android:host="spiceadmin.sl.medtroniclabs.org" />
                <data android:pathPrefix="/reset-password" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.landing.LandingActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.boarding.LoginActivity"
            android:exported="false" /> <!-- CHW Activities -->
        <activity
            android:name=".ui.household.summary.HouseholdSummaryActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.household.HouseholdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.landing.OfflineSyncActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.household.HouseholdSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.assessment.AssessmentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.household.ConsentFormActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.AssessmentToolsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" /> <!-- Medical Review Activities -->
        <activity
            android:name=".ui.home.MedicalReviewToolsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.medicalreview.prescription.PrescriptionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.medicalreview.motherneonate.anc.activity.MotherNeonateANCActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.medicalreview.undertwomonths.activity.UnderTwoMonthsBaseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.medicalreview.motherneonate.labourdelivery.activity.LabourDeliveryBaseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.referralhistory.activity.ReferralHistoryActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.medicalreview.abovefiveyears.AboveFiveYearsBaseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.medicalreview.underfiveyears.UnderFiveYearsBaseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.medicalreview.addnewmember.AddNewMemberActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.boarding.ResourceLoadingScreen"
            android:exported="false" />
        <activity
            android:name=".ncd.registration.ui.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.followup.FollowUpMyPatientActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ncd.medicalreview.NCDMedicalReviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.medicalreview.motherneonate.pnc.activity.MotherNeonatePncActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="remove" /> <!-- NCD WorkFlow -->
        <activity
            android:name=".ncd.screening.ui.ScreeningActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.medicalreview.pharmacist.activity.NCDPharmacistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ncd.medicalreview.prescription.activity.NCDPrescriptionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ncd.counseling.activity.NCDLifestyleActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ncd.counseling.activity.NCDNutritionistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ncd.counseling.activity.NCDCounselingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ncd.counseling.activity.NCDCounselorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
    </application>

</manifest>