<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".SpiceBaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spice_sl_mobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.medicalreview.prescription.PrescriptionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.medicalreview.motherneonate.anc.activity.MotherNeonateANCActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.medicalreview.undertwomonths.UnderTwoMonthsBaseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.medicalreview.LabourDeliveryBaseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.mypatients.ReferralTicketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medicalreview.abovefiveyears.AboveFiveYearsBaseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.boarding.ResourceLoadingScreen"
            android:exported="false" />
        <activity
            android:name=".ui.mypatients.PatientSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.followup.FollowUpMyPatientActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.assessment.AssessmentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".ui.mypatients.MedicalReviewBaseActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.household.summary.HouseholdSummaryActivity"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".ui.landing.OfflineSyncActivity"
            android:theme="@style/Theme.Transparent"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.home.ToolsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.household.HouseholdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".ui.landing.LandingActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.household.HouseholdSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.boarding.LoginActivity"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="remove" />
    </application>

</manifest>